@model FootballCoachOnline.ViewModels.PlayerProfileViewModel

@{
    ViewData["Title"] = Model.Player.FullName;
}

<div id="tempmessage"></div>

<div class="container-fluid">
    <div class="row">
        <h3 style="margin-left: 15px;"><strong>@Model.Player.FullName</strong></h3>
        <hr />
        <div class="col-md-4">
            <div class="details">
                <div class="title">Osobni podaci</div>
                <table class="table table-condensed">
                    <tbody>
                        <tr class="clickable" title="Kliknite za detalje tima">
                            <td>
                                <a asp-controller="Teams" asp-action="Details" asp-route-id="@Model.Stats.First().Team.Id">
                                    <strong>@Html.DisplayNameFor(model => model.Stats.First().Team)</strong>
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Teams" asp-action="Details" asp-route-id="@Model.Stats.First().Team.Id">
                                    @Html.DisplayFor(model => model.Stats.First().Team.Name)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>@Html.DisplayNameFor(model => model.Player.DateOfBirth)</strong>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Player.DateOfBirth)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>@Html.DisplayNameFor(model => model.Player.PlaceOfBirth)</strong>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Player.PlaceOfBirth)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>@Html.DisplayNameFor(model => model.Player.Nationality)</strong>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Player.Nationality)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>@Html.DisplayNameFor(model => model.Player.NaturalPosition)</strong>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Player.NaturalPosition)
                            </td>
                        </tr>
                    </tbody>
                </table>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Player.Physical)
                    </dt>
                    <dd>
                        <form asp-action="EditPhysical" method="post">
                            <input asp-for="@Model.Player.Physical" data-playerid="@Model.Player.Id" class="editajax" />
                        </form>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-md-8">
            <div class="details">
                <div class="pull-right">
                    <select id="reload" class="form-control" asp-items="@ViewBag.links"></select>
                </div>
                <div class="title">Statistika 
                    <button id="tablePDF" class="btn btn-default" title="skini statistike u PDF-u">
                        <span class="glyphicon glyphicon-print"></span>
                    </button>
                </div>
                <table class="table table-condensed headcenter" style="table-layout: fixed">
                    <thead>
                    <tr class="text-center">
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(modelItem => Model.Stats.First().Apps)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => Model.Stats.First().Goals)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => Model.Stats.First().YellowCards)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => Model.Stats.First().RedCards)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Stats)
                    {
                        <tr>
                            <td title="Natjecanje" style="text-align: left">
                                <strong class="playerlink">
                                    <a asp-controller="Competitions" asp-action="Details" asp-route-id="@item.CompetitionId">
                                        @Html.DisplayFor(model => item.Competition.ShortName)
                                    </a>
                                </strong>
                            </td>
                            <td title="zamjene">
                                @Html.DisplayFor(model => item.Apps) (@Html.DisplayFor(model => item.Subs))
                            </td>
                            @if (Model.Player.NaturalPosition == Player.Position.golman)
                            {
                                <td title="primjeni golovi">
                                    @Html.DisplayFor(model => item.GoalsConceded)
                                    <span title="zabijeni golovi">(@Html.DisplayFor(model => item.Goals))</span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(model => item.Goals)
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(model => item.YellowCards)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.RedCards)
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <br />
            <div class="details">
                <a asp-controller="Tests" asp-action="Index" asp-route-id="@ViewBag.teamId" class="pull-right">
                    <span class="glyphicon glyphicon-link"></span> Svi testovi tima
                </a>
                <div class="title">Testovi
                    <a asp-controller="Tests" asp-action="Create" asp-route-playerId="@Model.Player.Id" title="novi test">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
                <table class="table table-condensed headcenter" style="table-layout: fixed">
                    <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(modelItem => Model.Tests.First().Name)</th>
                        <th>@Html.DisplayNameFor(modelItem => Model.Tests.First().Description)</th>
                        <th>@Html.DisplayNameFor(modelItem => Model.Tests.First().Date)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Tests)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.Date)</td>
                            <td>
                                <a asp-controller="Tests" asp-action="Edit" asp-route-id="@item.Id" class="btn-group-sm btn-default">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><br />
<div class="btn-group">
    <a asp-controller="Teams" asp-action="Details" asp-route-id="@Model.Stats.First().TeamId" class="btn btn-default">
        <span class="glyphicon glyphicon-backward"></span> Natrag na tim
    </a>
    <a asp-action="Edit" asp-route-id="@Model.Player.Id" class="btn btn-default">
        <span class="glyphicon glyphicon-edit"></span> Uredi
    </a>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("EditPhysical")','playerid');
        });
    </script>
    
    <script>
        $("#reload").change(function () {
            var location = this.value;
            window.location = location;
        });
    </script>
    
    <script>
        $('#tablePDF').click(function() {
            $.get('@Url.Action("GetTable", "Players", new {id = Model.Player.Id})', function(externalData) {
            
                var externalDataRetrievedFromServer = externalData;
        
                function buildTableBody(data, columns) {
                    var body = [];
    
                    //header
                    body.push([
                        {text: 'Natjecanje', style: 'header', alignment: 'center', fillColor: '#f4f4f4'},
                        {text: 'Nastupa', style: 'header', alignment: 'center', fillColor: '#f4f4f4'},
                        {text: 'Zamjena', style: 'header', alignment: 'center', fillColor: '#f4f4f4'},
                        {text: 'Zabijeno', style: 'header', alignment: 'center', fillColor: '#f4f4f4'},
                        {text: 'Primljeno', style: 'header', alignment: 'center', fillColor: '#f4f4f4'},
                        {text: 'Žuti', style: 'header', alignment: 'center', fillColor: '#f4f4f4'},
                        {text: 'Crveni', style: 'header', alignment: 'center', fillColor: '#f4f4f4' }
                    ]);
   
                    data.forEach(function(row) {
                        var dataRow = [];
    
                        columns.forEach(function(column) {
                            dataRow.push(row[column].toString());
                        });
    
                        body.push(dataRow);
                    });
    
                    return body;
                };
    
                function table(data, columns) {
                    return {
                        'alignment': 'center',
                        table: {
                            headerRows: 1,
                            body: buildTableBody(data, columns)
                        }
                    };
                };

                var title = "@Html.Raw(Model.Player.FullName), " + $.datepicker.formatDate('dd.mm.yy.', new Date()).toString();
                var docDefinition = {
                    content: [
                        { text: title, style: 'header' },
                        table(externalDataRetrievedFromServer, ['ime','utakmice', 'zamjene', 'golovi', 'primljeni', 'žuti', 'crveni'])
                    ],
                    styles: {
                        header: {
                            bold: true
                        }
                    }
                };
            
                var pdf = pdfMake.createPdf(docDefinition);
                pdf.download('statistika-@(Model.Player.FullName).pdf');
            });
        });
    </script>
}
