@model FootballCoachOnline.ViewModels.PlayersMatchesViewModel

@{
    ViewData["Title"] = ViewData["Team"];
    TempData["TeamId"] = Model.Team.Id;
}

<h2>@ViewData["Team"]</h2>

<p>
    <div class="btn-group">
        <a asp-controller="Players" asp-action="Create" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span> Dodaj novog igrača
        </a>
        <a asp-controller="Teams" asp-action="Edit" asp-route-id="@Model.Team.Id" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-edit"></span> Uredi
        </a>
    </div>
</p>
<div class="container-fluid">
    <div class="row">
        <div class="smalltable col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <table class="table table-hover headcenter">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Players.FirstOrDefault().Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Players.FirstOrDefault().DateOfBirth)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Players.FirstOrDefault().NaturalPosition)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Players)
                    {
                        <tr>
                            <td class="playerlink">
                                <a asp-controller="Players" asp-action="Details" asp-route-id="@item.Id" asp-route-teamId="@Model.Team.Id" title="Detalji">
                                    @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfBirth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NaturalPosition)
                            </td>
                            <td>
                                <form asp-controller="Players" asp-action="Delete" method="post">
                                    <div class="btn-group">
                                        <a title="Uredi" class="btn btn-warning btn-xs" asp-controller="Players" asp-action="Edit" asp-route-id="@item.Id">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button class="btn btn-danger btn-xs del" type="submit" title="obriši">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <br />
        <div class="smalltable col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="smalltable details">
                <div>
                    <a asp-controller="Matches" asp-action="Index" asp-route-id="@Model.Team.Id" class="pull-right">
                        <span class="glyphicon glyphicon-link"></span> Sve utakmice
                    </a>
                    <b>Utakmice</b>
                </div>
                <table class="table table-hover table-responsive">
                    <tbody class="text-center">
                        @foreach (var item in Model.Matches)
                        {
                            <tr class="@(item.Played ? "gray" : "")">
                                @if (item.Team1Id == Model.Team.Id)
                                {
                                    <td title="doma">D</td>
                                    <td class="playerlink">
                                        <a asp-controller="Matches" asp-action="Details" asp-route-id="@item.Id" title="Detalji">
                                            @Html.DisplayFor(model => item.Team2.ShortName)
                                        </a>
                                    </td>
                                    if (item.Played)
                                    {
                                        <td>
                                            @item.MatchScore.Score1 : @item.MatchScore.Score2
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td title="u gostima">G</td>
                                    <td class="playerlink">
                                        <a asp-controller="Matches" asp-action="Details" asp-route-id="@item.Id" title="Detalji">
                                            @Html.DisplayFor(model => item.Team1.ShortName)
                                        </a>
                                    </td>
                                    if (item.Played)
                                    {
                                        <td>
                                            @item.MatchScore.Score2 : @item.MatchScore.Score1
                                        </td>
                                    }
                                }
                                @if (!item.Played)
                                {
                                    <td>: - :</td>
                                }
                                <td title="Natjecanje" class="playerlink">
                                    <a asp-controller="Competitions" asp-action="Details" asp-route-id="@item.CompetitionId">
                                        @item.Competition.ShortName
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Date)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <div class="smalltable details">
                <div>
                    <a asp-controller="Trainings" asp-action="Index" asp-route-id="@Model.Team.Id" class="pull-right">
                        <span class="glyphicon glyphicon-link"></span> Svi treninzi
                    </a>
                    <b>Treninzi</b>
                    <a asp-controller="Trainings" asp-action="Create" title="Dodaj trening">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
                <table class="table table-hover table-responsive">
                    <tbody>
                        @foreach (var item in Model.Trainings)
                        {
                            <tr class="@(item.Date.Date > DateTime.Now.Date ? "gray" : "")">
                                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                <td>
                                    <a asp-controller="Trainings" asp-action="Details" asp-route-id="@item.Id" class="btn btn-xs btn-info" title="Detalji">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".del").click(function () {
                if (!confirm("Jeste li sigurni?")) {
                    return false;
                }
            });
        });
    </script>
}
