@model IEnumerable<FootballCoachOnline.Models.Player>

@{
    ViewData["Title"] = ViewData["Team"];
}

<h2>@ViewData["Team"]</h2>

<p>
    <a asp-controller="Players" asp-action="Create">Dodaj igrača</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.PlaceOfBirth)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.NaturalPosition)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Physical)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="text-align: center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NaturalPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Physical)
                </td>
                <td>
                    <a asp-controller="Players" asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-controller="Players" asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-controller="Players" asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
