@model IEnumerable<FootballCoachOnline.Models.Player>

@{
    ViewData["Title"] = ViewData["Team"];
}

@*<div class="panel-body">
    @if (TempData[Constants.Message] != null)
    {
        bool error = false;
        var obj = TempData[Constants.ErrorOccurred];
        if (obj != null)
        {
            error = (bool)obj;
        }
        <div class="alert @(error ? "alert-danger" : "alert-success")">@TempData[Constants.Message]</div>
    }
</div>*@

<h2>@ViewData["Team"]</h2>

<p>
    <a asp-controller="Players" asp-action="Create">Dodaj igrača</a>
</p>
<table class="table headcenter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NaturalPosition)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="playerlink">
                    <a asp-controller="Players" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NaturalPosition)
                </td>
                <td>
                    <a asp-controller="Players" asp-action="Edit" asp-route-id="@item.Id">
                        <button class="btn btn-primary btn-xs" type="submit" title="uredi">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </a>
                    @*<form asp-controller="Players" asp-action="Edit" asp-route-id="@item.Id" method="get">
                        <button class="btn btn-primary btn-xs" type="submit" title="uredi">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </form>*@
                </td>
                <td>
                    <form asp-controller="Players" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button class="btn btn-danger btn-xs" type="submit" title="obriši">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
<script>
    $(document).ready(function () {
        $(".del").click(function () {
            if (!confirm("Jeste li sigurni?")) {
                return false;
            }
        });
    });
</script>
}
