@model IEnumerable<FootballCoachOnline.Models.Team>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Timovi";
}

<h2>Timovi</h2>

<p>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Create">Dodaj tim</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                <a asp-controller="Clubs" asp-action="Details" asp-route-id="@item.ClubId">
                    @Html.DisplayFor(modelItem => item.Club.Name)
                </a>
            </td>
        @if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(User) == item.CoachId)
        {
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="TeamCompetition" asp-route-id="@item.Id">Vidi natjecanja</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        }
        </tr>
}
    </tbody>
</table>
