@model FootballCoachOnline.ViewModels.TeamCompetitionViewModel

@{
    ViewData["Title"] = "Natjecanja";
}

<h2>Natjecanja</h2>
<h4>@Model.Team.Name</h4>

<p>
    <a asp-action="Join" asp-route-id="@Model.Team.Id" class="btn btn-default">Pridruži se natjecanju</a>
</p>

<table class="table table-striped table" style="width:1%">
    <tbody>
        @foreach (var item in Model.Competitions)
        {
            <form asp-controller="Teams" asp-action="Leave" method="post">
                <tr>
                    <td style="white-space:nowrap">
                        <a asp-controller="Competitions" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-danger btn-xs del" title="Obriši"><span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                    <td>
                        <input type="hidden" value="@item.Id" name="competitionId" />
                        <input type="hidden" value="@Model.Team.Id" name="teamId" />
                    </td>
                </tr>
            </form>
        }
    </tbody>
</table>

@section Scripts {
<script>
    $(document).ready(function () {
        $(".del").click(function () {
            if (!confirm("Jeste li sigurni?")) {
                return false;
            }
        });
    });
</script>
}