@model IEnumerable<FootballCoachOnline.Models.Club>

@{
    ViewData["Title"] = "Klubovi";
}

@*<div class="panel-body">
    @if (TempData[Constants.Message] != null)
    {
        bool error = false;
        var obj = TempData[Constants.ErrorOccurred];
        if (obj != null)
        {
            error = (bool)obj;
        }
        <div class="alert @(error ? "alert-danger" : "alert-success")">@TempData[Constants.Message]</div>
    }
</div>*@

<h2>Klubovi</h2>

<p>
    <a asp-action="Create">Dodaj klub</a>
</p>
<table id="myTable" class="table tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearFounded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearFounded)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-controller="Teams" asp-action="Index" asp-route-id="@item.Id">Timovi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">O klubu</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts {
    <script>
        $(function () {
            $("#myTable").tablesorter({});
        });
    </script>
}
