@model IEnumerable<FootballCoachOnline.Models.Match>

@{
    ViewData["Title"] = "Utakmice" + ViewBag.Team;
}

<h2>Utakmice @ViewBag.Team</h2>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Create">
        <span class="glyphicon glyphicon-plus"></span> Dodaj novu
    </a>
</p>
<table id="myTable" class="table headcenter">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Team1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team2)
            </th>
            <th>
                Rezultat
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team2.Name)
            </td>
            <td>
                <span>@(item.Played ? item.MatchScore.Score1.ToString()+":"+item.MatchScore.Score2.ToString() : "-")</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competition.Name)
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-info btn-xs" asp-action="Details" asp-route-id="@item.Id" title="Detalji">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                    <a class="btn btn-warning btn-xs" asp-action="Edit" asp-route-id="@item.Id" title="Uredi">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a class="btn btn-danger btn-xs deleteajax" data-id="@item.Id" title="Obriši">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $("#myTable").tablesorter();
    </script>

    <script>
        SetDeleteAjax(".deleteajax", '@Url.Action("DeleteAjax")', 'id');
    </script>
}
